<% include ../header %>
        <main class="container left-container">
            <div class="row">

                <% include ../side_menu_admin %>

                <section class="main-content">

                    <div ng-view></div>

                    <footer class="split-footer">
                        <i class="link-spacer"></i>
                        <span>IamFerraz</span>
                    </footer>

                </section><!-- main content -->

            </div> <!--/row -->

        </main> <!-- /container -->

<% include ../footer %>