<% include ../header_admin %>
        <main class="container left-container">
            <div class="row">

                <% include ../side_menu_admin %>

                <section class="main-content push wrap">
                    <a class="menu-trigger" href="#menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>

                    <div ui-view>
                        <h3>Painel administrativo</h3>
                    </div>

                    <footer class="split-footer">
                        <i class="link-spacer"></i>
                        <span>IamFerraz</span>
                    </footer>

                </section><!-- main content -->

            </div> <!--/row -->

        </main> <!-- /container -->

<% include ../footer %>