<main class="container left-container">
    <div class="row">

        <div class="main-content">

            <h3>Categorias</h3>

        </div><!-- main content -->
    </div> <!--/row -->

</main> <!-- /container -->

