<main class="container left-container">
    <div class="row">

        <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

            <h3>Categorias</h3>

            <footer class="split-footer">
                <a href="/">Home</a>
                <i class="link-spacer"></i>
                <span>IamFerraz</span>
            </footer>
        </div><!-- main content -->
    </div> <!--/row -->

</main> <!-- /container -->

