<div class="row" ng-controller="AdminCategoryController as categoryCtrl">
    <div ng-init="getCategories()" class="animated fadeIn active" >
        <div class="row">
            <h3>Categorias</h3>
            <div class="bs-example">
                <button ng-click="openCreateEditCategoryModal('Nova Categoria', null)" type="button" class="btn btn-primary">Novo</button>
                <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Data criação</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in categories">
                        <td>{{category._id}}</td>
                        <td>{{category.name}}</td>
                        <td>{{category.created_date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td><button ng-click="openCreateEditCategoryModal('Editar Usuário', category)" type="button" class="btn btn-primary">Editar</button><i class="link-spacer"></i><button ng-click="deleteCategory(category._id)" type="button" class="btn btn-danger">Deletar</button></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="create-or-edit-category-modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input ng-model="category.name" type="text" placeholder="Nome" class="form-control" name="name">
                    </div>

                    <div class="form-group">
                        <label for="image">Image</label>
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput">
                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                <span class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-addon btn btn-default btn-file">
                                <span class="fileinput-new">Select file</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" ng-model="category.image" name="image" accept="image/*" app-filereader>
                            </span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="createSaveCategory(category)" type="button" class="btn btn-default" value="Send">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div> <!--/row -->
