<!-- Menu -->
<nav id="menu" class="panel" role="navigation" ng-controller="MenuController as menuCtrl">
    <ul>
        <li><i class="fa fa-home"></i><a ui-sref="posts">Posts</a></li>
        <li><i class="fa fa-anchor"></i><a ui-sref="categories">Categorias</a></li>
        <li><i class="fa fa-user"></i><a ui-sref="users">Usuários</a></li>
        <li><i class="fa fa-bar-chart"></i><a ui-sref="serverStatus">Status do Servidor</a></li>
    </ul>
    <hr>
    <ul>
        <li><i class="fa fa-close"></i><a href="/user/logout">Sair</a></li>
    </ul>
</nav>
<!-- End Menu -->


