<!-- Menu -->
<nav id="menu" class="panel" role="navigation" ng-controller="MenuController as menuCtrl">
    <ul>
        <li><i class="fa fa-home"></i><a ui-sref="posts">Posts</a></li>
        <li><i class="fa fa-user"></i><a ui-sref="resume">About me</a></li>
        <li><i class="fa fa-paper-plane"></i><a ui-sref="contact">Contact</a></li>
    </ul>
    <hr>
</nav>
<!-- End Menu -->