<section class="sidebar col-md-5 col-sm-12" style="background-image: url(/public/images/default-sidebar.jpg)">

    <!-- if the user has javascript disabled they can still use the menu -->
    <noscript>
        <div class="no-js-menu">
            <ul>
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
                <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
                <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
                <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
                <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>
                <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
                <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
            </ul>
        </div>
    </noscript>
    <!-- end no script -->

    <div class="site-info">
        <div class="primary-info">
            <h1>IamFerraz</h1>
            <p>Where programming matter.</p>

            <p>Developed by André de Mattos Ferraz proudly using AngularJS, NodeJS and mongoDB</p>
        </div>
        <div class="secondary-info">
            <p>
                <a class="btn btn-primary" href="https://www.linkedin.com/profile/view?id=252122456&trk" target="_blank"><i class="fa fa-linkedin-square"></i></a>

                <a class="btn btn-primary" href="https://www.facebook.com/andre.demattosferraz" target="_blank"><i class="fa fa-facebook-official"></i></a>
                
            </p>
        </div>
    </div>
</section><!-- end sidebar -->