<div class="col-md-7 col-sm-12 col-md-offset-5 main-content animated fadeIn " ng-controller="PostController as postCtrl">   

	<h1>{{post.title}}</h1>

	<p class="subtitle">{{post.subtitle}}</p>

	<div ng-bind-html="convertHtml(post.text)" after-render="highlightBlocks" class="postContent"></div>

	<p class="meta">
		<img ng-src="{{post.author.avatar}}" class="user-icon" alt="user-image">By <a class="" href="category.html">{{post.author.name}}</a> in <span ng-repeat="category in post.category"><a href="#{{category._id}}">{{category.name}}</a> <i class="link-spacer"></i></span> <i class="fa fa-bookmark"></i> {{post.created_date | date:'dd-MM-yyyy HH:mm:ss'}}
	</p>

	<a href="" ng-click="goBack()" class="cd-botttomRight"><i class="fa fa-chevron-left fa-2"></i></a>

	<div>
		<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#comments">Show Comments</button>
		<hr></hr>
		<div id='comments' class="collapse">
			<p ng-if='post.comments.length == 0'>No comments...</p>
			<div class="media well" ng-repeat="cmmt in post.comments">
				<div class="media-body">
					<h4 class="media-heading">{{cmmt.name}}
						<small class='pull-right'>{{cmmt.created_date | date:'dd-MM-yyyy HH:mm:ss'}}</small>
					</h4>
					{{cmmt.comment}}
				</div>
			</div>
		</div>

		<form name="commentForm" ng-submit="commentForm.$valid && sendComment(comment)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : commentForm.name.$invalid && !commentForm.name.$pristine }">
				<label for="name">Name</label>
				<input ng-model="comment.name" type="text" placeholder="Name" class="form-control" name="name" ng-minlength=3  required>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : commentForm.email.$invalid && !commentForm.email.$pristine }">
				<label for="name">Email</label>
				<input ng-model="comment.email" type="email" placeholder="Email" class="form-control" name="email" required>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$invalid && !commentForm.comment.$pristine }">
				<label for="comment">Comment</label>
				<textarea ng-model="comment.comment" placeholder="Comment" class="form-control" name="comment" required></textarea>
			</div>

			<div class="form-group">
				<div vc-recaptcha 
					key="'6LeGNQcTAAAAAOh63N_Q8rMmCi4T-OL3aXCsW_0z'" 
					theme="light">
				</div>
			</div>	

			<div class="form-group">
				<button type="submit" ng-disabled="commentForm.$invalid" class="btn btn-primary">Enviar</button>
			</div>
		</form>
	</div>
</div><!-- main-content/col -->