<% include ../../header %>

        <main class="container left-container">
            <div class="row">

                <div class="col-md-7 col-sm-12 col-md-offset-5 main-content" ng-controller="PostController as postCtrl">

                    <h3>New Post</h3>

                    <form>
                        <div class="form-group">
                            <label for="author">Author</label>
                            <input ng-model="post.author" type="text" placeholder="Author" class="form-control" name="author">
                        </div>

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input ng-model="post.title" type="text" placeholder="Title" class="form-control" name="title">
                        </div>

                        <div class="form-group">
                            <label for="text">Text</label>
                            <textarea ng-model="post.text" class="form-control" name="text" placeholder="Text"></textarea>
                        </div>

                        <div class="form-group">
                            <input ng-click="createPost(post)" class="btn btn-default"  type="submit" value="Send">
                        </div>
                    </form>

                    <footer class="split-footer">
                        <a href="/">Home</a>
                        <i class="link-spacer"></i>
                        <span>IamFerraz</span>
                    </footer>
                </div><!-- main content -->
            </div> <!--/row -->

        </main> <!-- /container -->

<% include ../../footer %>
