<div class="col-md-7 col-sm-12 col-md-offset-5 main-content animated fadeIn ">	
	<div class="author-bio">
		<img src="public/images/profile-6.jpg">

		<div class="author-bio__info">
			<h1>André de Mattos Ferraz</h1>
			<p>Engenheiro de Computação com experiência em desenvolvimento de sistemas de informação geográfica com tecnologias da ESRI para as áreas florestal (controle do uso do solo e inteligência de mercado) e agrícola (controle do uso do solo).</p>

			<p>Interesses em sistemas especialistas, sistemas inteligentes, reconhecimento de padrões, arquitetura de software, sistemas operacionais móveis, linguagens de programação, computação gráfica, processos de desenvolvimento ágeis, levantamento de requisitos, desenho de soluções e padrões de projetos.</p>

			<p>Para mais detalhes veja meu <a class="btn btn-primary" href="https://www.linkedin.com/profile/view?id=252122456&trk" target="_blank"><i class="fa fa-linkedin-square"></i></a>.</p>
		</div>
	</div>
</div>