<% include ../header_blog %>

        <main class="container left-container ">
            <% include ../side_menu %>
        
            <div class="row push wrap">
                <a class="menu-trigger" href="#menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>

                <% include ../sidebar %>

                <div ui-view></div>

            </div> <!--/row -->

        </main> <!-- /container -->

<% include ../footer %>