<div class="row" ng-controller="ServerStatusController as statusCtrl">

	<div class="panel panel-primary pull-left" style="max-width: 230px;max-height: 400px; margin:20px;" ng-init="initializeDiskChart()">
		<div class="panel-heading">
			<h3 class="panel-title">Disk Space</h3>
		</div>
		<div class="panel-body">
			<canvas id="diskSpaceChart" width="200" height="300"></canvas>
		</div>
	</div>

	<div class="panel panel-primary pull-left" style="max-height: 400px;margin:20px;">
		<div class="panel-heading">
			<h3 class="panel-title">Memmory</h3>
		</div>
		<div class="panel-body">
			<canvas id="memmoryChart" width="200" height="300"></canvas>
		</div>
	</div>

</div>